<!DOCTYPE html>
<html>
<head>
  <meta name="Author" content=""/>
  <link rel="stylesheet" type="text/css" href="../css/grd.css">
  <link rel="stylesheet" type="text/css" href="../css/popup.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<body>

  <div id="wrapper">
	<div id="powerButton" @click="toggleWorking" v-bind:class="{'on':isWorking}" title="{{ isWorking ? 'Turn off' : 'Turn on' }}">
	  {{ isWorking ? "Enabled" : "Disabled" }}
	  <i v-bind:class="{'fa':true,'fa-power-off':true}"></i>
	</div>
    <form v-on:change="updateConfig">
	  <h1 class="center">Redirect
		<span class="fa-stack icon">
		  <i class="fa fa-circle-thin fa-stack-2x"></i>
		  <i class="fa fa-mail-forward fa-stack-1x"></i>
	    </span>
	  </h1>
	  <h3 class="center">to</h3>
  	  <input type="text" id="redirectAddress" placeholder="Redirect Address" v-model="focus">
	  <h3 class="center">from</h3>
	  <div id="siteContainer" class="clearfix">
		<div v-for="site in distractions" @click="toggleSite($index)" v-bind:class="{'disabled':!site.enabled,'siteList':true}" title="Click to {{ site.enabled ? 'unblock site' : 'block site' }}">
		  {{ site.name }}
		  <span v-if="findIcon(site.name) !== false">
			<i v-bind:class='["faSiteIcon","fa","fa-"+findIcon(site.name)]'></i>
		  </span>
		  <span class="fa-stack closeButton" @click="removeSite(site.name)" title="Remove site blocking">
			<i class="fa fa-circle fa-stack-2x closeButtonCircle"></i>
			<i class="fa fa-times fa-stack-1x fa-inverse"></i>
		  </span>
		</div>
		<div class="siteList" id="newSite" title="Block another site here">
		  <input type="text" id="newSiteInput" v-on:keyup="addSite" placeholder="Block another site..." />
		</div>
	  </div>
    </form>

  </div>

  <script src="../lib/vue.js" charset="utf-8"></script>
  <script src="../js/popup.js" charset="utf-8"></script>

</body>
</html>
