<!DOCTYPE html>
<html>
<head>
  <meta name="Author" content=""/>
  <link rel="stylesheet" type="text/css" href="../css/grd.css">
  <link rel="stylesheet" type="text/css" href="../css/popup.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<body>

  <div id="wrapper">
	<i id="powerButton" v-bind:class="{'fa':true,'fa-power-off':true,'on':isWorking}" @click="toggleWorking" title="{{ isWorking ? 'Turn off' : 'Turn on' }}"></i>

    <form v-on:change="updateConfig">
      <span>Redirect to: </span><input type="text" v-model="focus">

      <ul id="example-1">
        <li v-for="site in distractions">
          <label>
            <input type="checkbox" v-model="site.enabled" class="site-list" value="site{{ $index }}">
			{{ site.name }} <span v-if="siteIcons[site.name]"><i v-bind:class='["fa","fa-"+siteIcons[site.name]]'></i></span>
          </label>
        </li>
      </ul>
    </form>

  </div>

  <script src="../lib/vue.js" charset="utf-8"></script>
  <script src="../js/popup.js" charset="utf-8"></script>

</body>
</html>
