<!DOCTYPE html>
<html>
<head>
  <meta name="Author" content=""/>
  <link rel="stylesheet" type="text/css" href="../css/grd.css">
  <link rel="stylesheet" type="text/css" href="../css/popup.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<body>

  <div id="wrapper">
	<div id="powerButton" @click="toggleWorking" v-bind:class="{'on':isWorking}">
	  Redirect extension is {{ isWorking ? "enabled" : "disabled" }}.
	  <i v-bind:class="{'fa':true,'fa-power-off':true}" title="{{ isWorking ? 'Turn off' : 'Turn on' }}"></i>
	</div>

    <form v-on:change="updateConfig">
	  <input type="text" id="redirectAddress" placeholder="Redirect Address" v-model="focus">
	  <div id="siteContainer" class="clearfix">
		<div v-for="site in distractions" @click="toggleSite($index)" v-bind:class="{'disabled':!site.enabled,'siteList':true}" title="{{ site.enabled ? 'Unblock site' : 'Block site' }}">
		  {{ site.name }}
		  <span v-if="siteIcons[site.name]"><i v-bind:class='["faSiteIcon","fa","fa-"+siteIcons[site.name]]'></i></span>
		</div>
	  </div>
    </form>

  </div>

  <script src="../lib/vue.js" charset="utf-8"></script>
  <script src="../js/popup.js" charset="utf-8"></script>

</body>
</html>
