body, html {
	margin: 0;
	padding: 0;
	font-family: verdana, sans-serif;
	min-width: 500px;
}
/*
input[type="text"] {
}
input[type="checkbox"] {
}
*/
#powerButton {
	display: block;
	text-align: right;
	color: red;
	padding: 20px;
}
#powerButton.on {
	color: green;
}
.clearfix {
	clear: both;
}
.siteList {
	float: left;
	width: calc(100% / 3);
	height: 60px;
	line-height: 60px;
	text-align: center;
	transition: all 0.5s;
	position: relative;
}
.siteList:nth-child(even) {
	background-color: rgba(52, 152, 219, 0.5);	
}
.siteList:nth-child(odd) {
	background-color: rgba(46, 204, 113, 0.5);
}
.siteList:hover {
	background-color: white;
}
.siteList.disabled {
	opacity: 0.5;
	background-color: grey;
}
.faSiteIcon {
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 40px !important;
	text-align: left;
	opacity: 0.25;
}
