#ext-redirect {
  z-index: 99999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 50px black;
}
#ext-redirect-title {
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
  font-size: 18px;
  margin: 0;
  padding: 8px;
  border: none;
}
#ext-redirect-backToWork {
  font-size: 36px;
  flex-grow: 1;
}
#ext-redirect-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#ext-redirect-takeBreakContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
#ext-redirect-backToWork, .ext-redirect-takeBreak {
  border: none;
  transition: all .5s;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
#ext-redirect-backToWork:hover, .ext-redirect-takeBreak:hover {
  background-color: transparent;
}
.ext-redirect-takeBreak {
  flex-grow: 1;
  font-size: 16px;
  padding: 8px;
}
